<div class="bg-white border-t p-4">
    <div class="max-w-4xl mx-auto flex items-center space-x-4">
        @if (OnFileAttachment.HasDelegate)
        {
            <InputFile OnChange="HandleFileUpload" id="file-upload" />
            <label for="file-upload" class="upload-label p-2 text-white bg-blue-600 rounded-full hover:bg-blue-700 transition ">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                </svg>
            </label>
        }
        <input type="text" @bind-value="Prompt" @onkeyup="@(e => { if (e.Key == "Enter") HandleSendMessage(); })"
               placeholder="Type your message..."
               disabled="@IsLoading"
               class="flex-1 p-2 border rounded-full focus:outline-none focus:border-blue-500">
        <button @onclick=@HandleSendMessage disabled="@IsLoading" class="p-2 text-white bg-blue-600 rounded-full hover:bg-blue-700 transition">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
            </svg>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSendMessage { get; set; }

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnFileAttachment { get; set; }

    [Parameter]
    public bool IsLoading { get; set; } = false;

    public string Prompt { get; set; } = "";

    private void HandleSendMessage()
    {
        OnSendMessage.InvokeAsync(Prompt);
        Prompt = "";
    }

    private void HandleFileUpload(InputFileChangeEventArgs e)
    {
        OnFileAttachment.InvokeAsync(e);
    }

}